// sidebar
$sideBarWidth: 210px;

$menuBgDark: #001529;
$menuBgLight: #ffffff;

$logoBgDark: #2b2f3a;
$logoBgLight: #ebebeb;
$logoTextDark: #ffffff;
$logoTextLight: #000000;

@mixin menuBg($color) {
  background-color: $color;
  [data-theme='dark'] & {
    background-color: $menuBgDark;
  }
  [data-theme='light'] & {
    background-color: $menuBgLight;
    border-right: 1px solid #F0F0F0;
  }
}

@mixin logoBg($color) {
  background-color: $color;
  [data-theme='dark'] & {
    background-color: $logoBgDark;

  }
  [data-theme='light'] & {
    background-color: $logoBgLight;
  }
}

@mixin logoText($color) {
  color: $color;
  [data-theme='dark'] & {
    color: $logoTextDark;
  }
  [data-theme='light'] & {
    color: $logoTextLight;
  }
}

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  sideBarWidth: $sideBarWidth;
}
